NODE_ENV=development
APP_NAME=nestjs-production-base
PORT=3000
API_PREFIX=api/v1
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
LOG_DIR=logs
LOG_MAX_FILE_SIZE_BYTES=10485760

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/be_02?schema=public
MONGODB_URI=mongodb://localhost:27017/be_02
DATABASE_NAME=be_02

JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

REDIS_HOST=localhost
REDIS_PORT=6379
