NODE_ENV=development
APP_NAME=nestjs-production-base
PORT=8017
API_PREFIX=v1
FRONTEND_URL=http://localhost:3000
WEBSITE_DOMAIN=http://localhost:3000
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
LOG_DIR=logs
LOG_MAX_FILE_SIZE_BYTES=10485760

BREVO_API_KEY=
MAIL_SENDER_EMAIL=no-reply@example.com
MAIL_SENDER_NAME=Backlog App

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=be_02
POSTGRES_SCHEMA=public
DOCKER_POSTGRES_HOST=postgres

JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

REDIS_HOST=localhost
DOCKER_REDIS_HOST=redis
REDIS_PORT=6379
